asgiref
asttokens
colorama
decorator
Django
django-stubs
django-stubs-ext
environs
executing
ipython
ipython_pygments_lexers
jedi
marshmallow
matplotlib-inline
parso
prompt_toolkit
psutil
psycopg2
psycopg2-binary
pure_eval
Pygments
python-dotenv
sqlparse
stack-data
traitlets
types-PyYAML
typing_extensions
tzdata
wcwidth
