
{% extends 'base.html' %}

{% block title %}О Нас - Мой сайт{% endblock title %}

{% block content %}{{ block.super }}
    <h2>Информация о нашей компании</h2>
    <p>Мы - замечательная компания, которая делает замечательные вещи.</p>
    <p>
        Здесь может быть много текста о нас.
        <p> - - - - - - - - - - - - - - - - - - - - <p/>
        <p> - - - - - - - - - - - - - - - - - - - - <p/>
        <p> - - - - - - - - - - - - - - - - - - - - <p/>
        <p> - - - - - - - - - - - - - - - - - - - - <p/>
        <p> - - - - - - - - - - - - - - - - - - - - <p/>
        <p> - - - - - - - - - - - - - - - - - - - - <p/>
        <p> - - - - - - - - - - - - - - - - - - - - <p/>
        <p> - - - - - - - - - - - - - - - - - - - - <p/>
        <p> - - - - - - - - - - - - - - - - - - - - <p/>
        <p> - - - - - - - - - - - - - - - - - - - - <p/>
        <p> - - - - - - - - - - - - - - - - - - - - <p/>
        Здесь может быть много текста о нас.
    </p>

    <h3>Наши контакты:</h3>
    <p>Телефон: +123456789</p>
{% endblock content %}

{% block footer_extra %}
    <p>Дополнительная информация в футере для страницы "О нас".</p>
{% endblock footer_extra %}

<!-- Блок navigation не переопределен, будет использован пустой блок из base.html -->
